__pycache__/
*.pyc

venv/
venv311/

build/
dist/

desktop/__pycache__/
desktop/build/
desktop/dist/

listener_service/__pycache__/

TelegramExtractor_Setup.exe
__pycache__/
*.pyc
venv/
venv311/
build/
dist/
*.exe
*.rar
.env
.vscode/